body{
    background:#eef4ff;
}

.card{
    border:none;
    border-radius:18px;
}

.progress{
    height:28px;
    border-radius:20px;
}

.progress-bar{
    font-size:15px;
    font-weight:bold;
}

.skill{
    display:inline-block;
    background:#198754;
    color:white;
    padding:8px 15px;
    border-radius:25px;
    margin:5px;
}

.missing{
    display:inline-block;
    background:#dc3545;
    color:white;
    padding:8px 15px;
    border-radius:25px;
    margin:5px;
}

pre{
    white-space:pre-wrap;
    font-size:14px;
    max-height:300px;
    overflow:auto;
}

canvas{
    max-height:300px;
}