<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🤖 AI Resume Analyzer</h1>

    <p>
        Upload your resume and get
        ATS Score, Skill Analysis and Job Recommendations.
    </p>

    <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="resume" accept=".pdf" required>
    <br><br>
    <button type="submit">Upload Resume</button>
</form>
</div>

</body>
</html>